<%= form_for(@gist) do |f| %>
<%
  all_lexers = Pygments.lexers.flatten.select.with_index(offset = 0) { |x,i| i % 2 == 0 }.sort 
  all_lexers = all_lexers.delete_if { |x| x =~ /.\s./ }
  all_lexers = all_lexers.map { |x| x.downcase }
%>


  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
      <tr>
   <td> <%= f.label :Kod %></td>
 </tr>
 <tr>
  <td><%= f.text_area :snippet, :class => "area" %></td>

</tr>
<tr>
      <td><%= f.label :Opis %></td>

     
  </tr>
  <tr>
 <td><%= f.text_area :description, :class => "area" %></td>
  </tr>
  <tr>
    <td><%= f.label :Język %></td>
  </tr>
    <tr><td><%= f.select :lang, all_lexers %></td>
  </tr>
</table>

    
    
 

  <div class="actions">
    <%= f.submit 'Gotowe', :class => 'btn btn-large btn-default' %>
  </div>
<% end %>


