<div class="gistBox">
  <div class="codeBox">
    <%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,90] + "" : gist.snippet, lexer: gist.lang) %>
  </div>
  <div class="langBox">
          <%= gist.lang %>
  </div>
  <div class="descriptionBox">
          <%= gist.description %>
  </div>


  <div class="buttonBox">
          <%= link_to 'Pokaż', gist, :class => "btn  btn-success" %>
          <%= link_to 'Edytuj', edit_gist_path(gist), :class => "btn btn-warning" %>
         <%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
</div> <!-- gistBox -->
