
<div class="all" >
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <nav>
      <ul class="nav pull-left">
        <li>
          <a href="/gists">MyGists</a>
        </li>
        <li>
          <a href="http://www.github.com/waveq/MyGists">Projekt na githubie</a>
        </li>
        <li>
          <a href="/gists/new">Quick add</a>
        </li>
        <li class="divider-vertical" />
      </ul>
      <ul class="nav pull-right hidden-xs">
        <form class="navbar-form navbar-left pull-right" role="search" action="/gists/search">
          <div class="form-group">
            <%= select_tag(:lang, options_for_select(Pygments.lexers.keys.sort.map! {|l| l.downcase.strip},
             params[:lang]))%>
           </div>
           <button type="submit" class="btn btn-default">Search</button>
         </form>
       </ul>
    </nav>
  
  </div>
</div>


<div class="center hero-unit">
        


<%= will_paginate %>
<h1>Twoje gisty:</h1><br />

    <% @gists.each do |gist| %>
<div class="gistBox">



  <div class="buttonBox">
          <%= link_to 'Pokaż', gist, :class => "btn  btn-success" %>
          <%= link_to 'Edytuj', edit_gist_path(gist), :class => "btn btn-warning" %>
         <%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
</div> <!-- gistBox -->
    <% end %>

<%= link_to 'Dodaj', new_gist_path, :class => "btn btn-large btn-default"  %>
</div> <!-- gitstsBox -->


</div> <!-- all -->