

  <div class="navbar navbar-inverse"><div class="navbar-inner"><h1>Twoje gisty:</h1></div></div>


<div class="center hero-unit">
  <%= link_to 'Dodaj gista', new_gist_path, :class => "btn btn-large btn-primary"  %>
<%= will_paginate %>
<table class="table">
  <thead>
    <tr>
      <th>Kod</th>
      <th>Język</th>
      <th>Opis</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


<div class="table">
  <tbody>
    <% @gists.each do |gist| %>
      <tr>

      <!-- <td><%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,90] + "" : gist.snippet, lexer: gist.lang) %></td> 
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>
-->
        <td><%= link_to 'Pokaż', gist, :class => "btn btn-large btn-success" %></td>
        <td><%= link_to 'Edytuj', edit_gist_path(gist), :class => "btn btn-large btn-warning" %></td>
        <td><%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-large btn-danger" %></td>
        
      </tr>
    <% end %>
  </tbody>
</div>
</table>
<%= will_paginate %>
</div>

