
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <nav>
      <ul class="nav pull-left">
        <li>
          <a href="/gists">MyGists</a>
        </li>
          <li>
          <a href="http://www.github.com/waveq/MyGists">Projekt na githubie</a>
        </li>
         </li>
          <li>
          <a href="/gists/new">Quick add</a>
        </li>

    </nav>
  
  </div>

</div>
<div class="center hero-unit">
	<h1>Język: <%= @gist.lang %>
  <div class="panel-heading"><h3>Kod:</h3></div>
  <div class="panel-body">
<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
<div class="panel-foot">
<h3>Description:</h3>
  <p><%= @gist.description %></p>
</div>
</div>
<div class="alert alert-info">
  <%= notice %>
</div>
<hr />
<%= link_to 'Edytuj', edit_gist_path(@gist), :class => "btn btn-large btn-warning" %> 
<%= link_to 'Wróć', gists_path, :class => "btn btn-large btn-primary" %>
</div>


